body {
    font-weight: 500;
    font-size: 1vw;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    transform: scale(var(--w_scale)) translate(-50%, -50%);
    transform-origin: top left;
    position: absolute;
}

.box_progess_bar {
    background-color: #fff;
    border-radius: 2.3vw;
    height: 2.3vw;
    width: 16vw;
    display: flex;
}

.progess_bar {
    transition: width var(--g_animation_delay) ease-in-out;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.15vw;
    background-image: linear-gradient(to right, #6A82FB, #B06AB3);
    height: 2vw;
    width: var(--g_pprogess);
    border-radius: 2vw;
}

.UIBOX {
    transform: translate(1.5%, 5%);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#TITLE {
    font-weight: 800;
    font-size: 2vw;
}

#DISK {
    z-index: 1;
}

#STICK{
    z-index: 0;
}

#BACKGROUND {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}

input[type="button"] {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    padding: 0.5vw 1vw;
    font-size: 0.8vw;
    border-radius: 2vw;
    border-color: #fff;
    border-width: 0.15vw;
    cursor: pointer;
    background-image: linear-gradient(to right, #6A82FB, #B06AB3);
    color: #fff;
    margin-right: 1vw;
    outline: none;
    &:hover {
        background-color: #0062cc;
    }
    &:active {
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 16vw;
    height: 0.3vw;
    border-radius: 0.5vw;
    background: #fff;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 1.5vw;
    background: #c471ed;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    border: 0.2vw solid #fff;
    -moz-appearance: none;
    appearance: none;
    width: 1vw;
    height: 1vw;
    background: #c471ed;
    border-radius: 1vw;
    cursor: pointer;
}
